# Ambiente virtual
.venv/
venv/
ENV/
env/

# Cache e temporários
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# videos
data/

# Configurações locais e IDE
*.env
.DS_Store
.idea/
app/tracker/bytetrack/cython_bbox.c
app/tracker/bytetrack/cython_bbox.egg-info/
app/tracker/bytetrack/cython_bbox.egg-info/top_level.txt
app/tracker/bytetrack/cython_bbox.egg-info/SOURCES.txt
app/tracker/bytetrack/cython_bbox.egg-info/dependency_links.txt
app/tracker/bytetrack/cython_bbox.cpython-310-x86_64-linux-gnu.so
